/* FAN --------------------------------------------------------------------------------------------*/

#general{
    text-align: center;

}

#taules{
    width: 100%;

}
.taula{

    display: inline-block;
    width: 40%;
    margin: 20px;

}

#sliders{
    width: 100%;
}
.slider_fan{
    display: block;
    height: 210px;
    width: 90%;
    margin: 5%;


}

#taules{
    display: block;
    margin-top: 10px;
}

table{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-collapse: collapse;
}

td{
    border-style: solid;
    border-color: black;
    border-width: 2px;   
}

#toptable>td{
    background-color: black;
    color: white;

}
tr>td:nth-child(1){
    width: 150px;
}
tr>td:nth-child(2){
    width: 150px;
}
tr>td:nth-child(3){
    width: 150px;
}
tr>td:nth-child(4){
    width: 150px;
}
tr>td:nth-child(5){
    width: auto;
}
tr>td:nth-child(6){
    width: 10px;
}

#table_slider{
    display: inline-block
}