
/*CONTENT*/
#content>header{
    width: 80%;
    margin: 10px 0;
    height: 50px;
    text-align: right;
    padding: 2px;

}
#content>header>div{
    margin-right: 50px;
    background-color: #009999;
    padding: 2px;
    border-color: darkred;
    border-style: solid;
    border-width: 2px;
    text-align: center;
  
}
#desplegable{
    position: fixed;
    top:10%;
    left: 40%;
    width: 20%;
    text-align: center;
    background-color: #009999;
    border-color: darkred;
    border-style: solid;
    border-width: 2px;
    z-index: 2;
    
}
#fondo{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
}


/*TAULA*/
#table{
  width: auto;
  margin-top: 10px;
  background-color: rgba(0,100,250,0.8);
  display: inline-block;
}

table{
/*    border-style: solid;
    border-color: black;
    border-width: 2px;*/
    border-collapse: collapse;
    border-radius: 5px;
}

/*
td{
    border-style: solid;
    border-color: black;
    border-width: 2px;   
}*/
 
#toptable>td{
    background-color: darkblue;
    color: white;

}
tr:hover{
    background-color: rgba(250,250,250,0.8);
}
tr>td:nth-child(1){
    width: 150px;
}
tr>td:nth-child(2){
    width: 150px;
}
tr>td:nth-child(3){
    width: 150px;
}
tr>td:nth-child(3) p{
    display: block;
}
tr>td:nth-child(3)>div{
    display: none;
    background-color: rgba(250,250,250,0.8);
    width: 150px;
    text-align: center;

}
tr>td:nth-child(3):hover>div{
    position: absolute;
    display: block;
}
tr>td:nth-child(4){
    width: auto;
    cursor: pointer;
}
tr>td:nth-child(4){
    width: 10px;
    cursor: pointer;
}
tr>td:nth-child(5):hover{
    color:red;
}

input,select, option{
    border-width: 2px;
    border-style: solid;
    border-color: brown;
    border-radius: 20px;
    background-color: #009999;
    text-align: center;
    color: white;
}
button{
    display: inline-block;
    height: 20px;
    border-color: transparent;
    background-color: transparent;
}
button>img{
    height: 100%;
}
p>input,
p>select{
    width: 90%;
    text-align: center;
}

#notifications{
    position: fixed;
    bottom: 50px;
    right: 0;
}

#notifications>p{
    padding: 5px;
    background-color: green;
    color: white;
    z-index: 1000;
}

