
/*CONTINGUT PRINCIPAL*/
#content{
    width: 80%;
    left: 0;
    text-align: center;
}
.mdiv{
    width: 45%;
    margin: 5%;
    padding: 5px;
    border-color: brown;
    background-color: lightsalmon;
    border-style: double;
    text-align: justify;
}