
/*Registre------------------------------------------------------------------------------------------*/

#general{
    text-align: center;

}

#titol, #botons {
    display: block;
    
}
#botons>button{
    width: 20%;
    background-color: #009999;
    color: white;
    border-radius: 12px;
    padding: 5px;
    border-color: brown;
    border-style: solid;
    border-width: 2px;
}
#formulari{
    width: 100%;

}
#blocs{
    width: 100%;
    display: inline-block;

}
.preguntes>div>div{

    display: inline-block;
    width: 40%;
    margin: 20px;
    text-align: center;

}

.preguntes{
    color:white;
    text-align: left;
}

#submit{
    height: 60px;    
    width: 20px;
    display: inline-block;
}

p{
    display: block;
}